<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Category Page</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Utility</a></li>
                    <li class="breadcrumb-item active">Category Page</li>
                </ol>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-icon"
                        data-bs-toggle="modal" data-bs-target=".create-modal"
                        ><span>Create Category</span></button>
                        <!-- <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;"> -->
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Category Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</td>
                                        <td>Khamzat</td>
                                        <td>
                                            <button class="btn btn-icon"
                                            data-bs-toggle="modal" data-bs-target=".edit-modal"
                                            ><span>Edit</span></button>
                                            <button class="btn btn-icon"><span>Delete</span></button>
                                            <button class="btn btn-icon"><span>Set Credentials</span></button>
                                            <button class="btn btn-icon"><span>Set Working Ranges</span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
